*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;	
	background: lightslategrey;
}

.a{
	max-width: 1200px;
	min-width:768px;
	margin: auto;
}

.b{
	width: 20%;
	border:1px solid #f00;
	margin:0px 0px;
	min-height: 500px;
	float: left;
}

.b:nth-child(2)
{
	float:right;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a:visited{
	color: #f00;
}
a:hover{
	color: #000000;
	border-bottom: 2px solid #000;
}
/*.clearfix::after{
	content: "";
	display: table;
	clear: both;
}*/
#first{
	max-width: 1200px;
	min-width: 800px;
	margin: auto;
}
header,footer{
	border: 1px solid #9df;
	margin: 1% 0;
	height: 120px;
}
aside,main{
	border: 1px solid #9df;
}
section,aside,main{
	min-height: 500px;
}
aside{
	width: 240px;
	float: left;
}
main{
	width: auto;
	margin-left: 250px;
}
header h1{
	margin: 10px 14px;
	
}